
* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: blue;
  height: 400px;
  position: relative;
}
.one {
  background-color: orange;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: animateX 3s linear infinite, animateY 1s ease-in-out infinite;
}
@keyframes animateX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes animateY {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}

